<div class="login-form">
  <fieldset>
    <h2 class="text-center">Login</h2>
    <br>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="userName" placeholder="Username" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" (click) = "onClickLogin()">Log in</button>
    </div>
  </fieldset>
</div>